{% extends 'main/base.html' %}

{% block title %}Welcome{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="welcome-page">
        <div>
            <h1 class="company">SNS</h1>
            <h3 class="slogan">We make connecting easy</h3>
        </div>
        <div class="title-entry">
            <h3>Connect Now</h3>
            <a class="entry-item login" href="{% url 'users:login' %}">
                Login <i class="fa-solid fa-right-to-bracket entry-icon"></i>
            </a>
            {% if not request.user.is_authenticated %}
            <a class="entry-item bg-color" href="{% url 'users:register' %}">
                Sign Up <i class="fa-solid fa-feather-pointed entry-icon"></i>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}