{% extends 'main/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'users/css/user_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>{{ profile.user }}</h1>


    <p>First Name: {{ profile.user.first_name }}</p>
    <p>Last Name: {{ profile.user.last_name }}</p>
    <p>Email: {{ profile.user.email }}</p>
    <p>Date Joined: {{ profile.user.date_joined }}</p>
    
    <!-- Followers -->
{% endblock %}