{% extends 'main/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'users/css/user_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="myb-2">
        <h1 class="fontsize-md">{{ profile.user }}</h1>
        <p>Date Joined: {{ profile.user.date_joined }}</p>
    </div>

    {% if profile.user.id == request.user.id %}
        <div class="myb-2">
            <h2 class="myb-05">First Name</h2>
            <p class="myb-05">{{ profile.user.first_name }}</p>

            <h2 class="myb-05">Last Name</h2>
            <p class="myb-05">{{ profile.user.last_name }}</p>

            <h2 class="myb-05">Email</h2>
            <p>{{ profile.user.email }}</p>
        </div>
    {% else %}
        <div class="myb-2">
            {% if isFollowing %}
            <a class="myb-05 follow-btn" href="{% url 'users:unfollow' profile.id %}">Unfollow</a>
            {% else %}
            <a class="myb-05 follow-btn" href="{% url 'users:follow' profile.id %}">Follow</a>
            {% endif %}
        </div>
    {% endif %}

    <div class="profile-follow myb-2">
        <h2 class="myb-05">Following ({{ following.count }})</h2>
        <div class="follow-grid">
            {% for follow in following %}
                <a href="{% url 'users:profile' follow.id %}">
                    <div class="follow-card">
                        <i class="fa-solid fa-user profile-icon"></i>
                        <p>{{ follow }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="profile-follow myb-2">
        <h2 class="myb-05">Followers ({{ followers.count }})</h2>
        <div class="follow-grid">
            {% for follower in followers %}
                <a href="{% url 'users:profile' follower.id %}">
                    <div class="follow-card">
                        <i class="fa-solid fa-user profile-icon"></i>
                        <p>{{ follower }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}