{% extends 'main/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'users/css/user_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="auth-page">
        <h2>Login</h2>

        <form action="." method="post">
            {% csrf_token %}

            <div class="form-element">
                <label class="form-label">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="form-element">
                <label class="form-label">{{ form.password.label }}</label>
                {{ form.password }}
            </div>

            {% if messages %}
                <div class="auth-errors">
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <button class="authenticate">Sign In</button>
        </form>
        <div class="direct-auth">
            <p>Don't have an account? <a href="{% url 'users:register' %}">Sign Up</a></p>
        </div>
    </div>
{% endblock %}