/* All */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
    height: 5%;
}

body {
    margin: 0;
}

/* Base */

header {
    background-color: #444;
}

header .navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 5rem;
    padding: 0.5rem 0;
}

header p.logo {
    margin-right: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #fff;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.nav-item {
    position: relative;
}

a.nav-item .tooltip-text {
    visibility: hidden;
    position: absolute;
    background-color: #444;
    color: #fff;
    font-size: 55%;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 10px;
    top: 40px;
    left: -7px;
    z-index: 1;
    letter-spacing: 1px;
    transition: visibility 50ms ease-in-out 0.5s;
}

a.nav-item:hover .tooltip-text {
    visibility: visible;
}

i.nav-icon {
    background-color: #fff;
    color: #444;
    border-radius: 50px;
    margin-right: 1rem;
    padding: 8px;
}

.root {
    margin: 2rem 6rem 0 5rem;
}

/* Index */

div.welcome-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12% 0;
}

h1.company, h3.slogan {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}

h1.company {
    font-size: 3rem;
    font-weight: 700;
    color: #14b8a6;
}

h3.slogan {
    font-size: 1.4rem;
}

div.title-entry {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    border: 0.1rem solid #eee;
    box-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

div.title-entry h3, div.title-entry a {
    margin-bottom: 1rem;
}

div.title-entry h3 {
    text-align: center;
}

div.title-entry a {
    display: block;
    padding: 0.8rem 8rem;
    border-radius: 10px;
    text-align: center;
}

a.login {
    background-color: #444;
    color: #fff;
}

a.signup {
    background-color: #14b8a6;
    color: #fff;
}

i.entry-icon {
    color: #fff;
}

/* Home */

div.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.home-page .content {
    flex-basis: auto;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 6rem 4rem 5rem;
    background-color: #444;
    color: #fff;
}

footer h3 {
    margin-bottom: 1rem;
}

footer h3, p, a {
    line-height: 1.5;
}

div.contact {
    margin: 0 5%;
    width: 40%;
}

div.flex-contact {
    display: flex;
    flex-direction: column;
}

div.contact a {
    font-size: 85%;
    margin-bottom: 1rem;
}

div.contact a, i.contact-icon {
    color: #14b8a6;
}

@media (max-width: 1256px) {
    div.contact {
        width: 70%;
    }
}

@media (max-width: 1016px) {
    footer {
        display: block;
    }

    div.contact {
        margin: 3% 0;
    }
}